body {
	font-size:16px;
	text-align:center;
}

p {
	font-size: 1em;
	line-height: 1.3125em;
	margin-bottom:2.625em;
}

h2 {
	font-size:1.777777778em;
	line-height:1.3em;
}

.wrapper {
	max-width:375px;
}